@import "tailwindcss";

:root {
    --primary: #2f6e91; /* header, boutons primaires, liens */
    --secondary: #8aa888; /* statut (terminé, positif), badges */
    --accent: #d9815b; /* Alerte, nouveauté, CTA */
    /* Neutral */
    --background: #f8fafb;
    --surface: #ffffff;
    --border: #dfe6ea;
    --text: #2c3e50;
    --text-light: #5f6b76;
    --radius: 6px;
}

body {
    font-family: Atkinson Hyperlegible;
    color: var(--text);
    background-color: var(--background);
    font-size: 1rem;
}

button {
    background-color: var(--primary);
    color: var(--surface);
    padding: 1.2em;
    border-radius: var(--radius);
}

.skip-link {
  position: absolute;
  top: -999px;
  left: -999px;
  background: #000;
  color: #fff;
  padding: 10px 15px;
  z-index: 100000;
  text-decoration: none;
}

.skip-link:focus {
  top: 10px;
  left: 10px;
  outline: 3px solid #ff0;
}
